/build
/ipy_oxdna_examples
/wham
/.vscode
/.idea
/venv
**/.ipynb_checkpoints/

/examples/run_files

/examples/python_scripts
/examples/notebooks
/examples/umbrella_scripts
examples/tutorials/8_nt_duplex_melting_cpu/oxdna_files/8_nt_duplex_melting_tutorial
examples/tutorials/origami_tile_N_nt_overhangs_gpu/rro/rro_k02
examples/tutorials/origami_tile_N_nt_overhangs_gpu/t9/t9_k02
examples/tutorials/origami_tile_N_nt_overhangs_gpu/t20/t20_k02

*.pyc
ipy_oxdna.egg-info
ipy_oxdna/patchy_particles.py
execute_analysis.ipynb
examples/tutorials/8_nt_duplex_melting_cpu
